# Dependencies
node_modules/
jspm_packages/
.npm

# Logs
logs
*.log
npm-debug.log*

# Runtime/Build
pids
*.pid
build/Release
.env
.env.test

# Coverage/Cache
coverage
.nyc_output
.eslintcache
.cache
.next
.nuxt
dist